.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-red-900-50);

    &_container {
        width: 100%;
        max-width: 28rem;
        padding: 1.25rem;
        border-radius: 0.5rem;
        background-color: var(--color-gray-800);
    }

    &_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &_title {
        margin-bottom: 0;
        color: var(--color-stone-50);
        font-size: 1.5rem;
        line-height: 1;
    }

    &_closeBtn {
        padding: .25rem .5rem;
        color: var(--color-stone-50);
        border-radius: 3px;

        &:hover {
            background-color: var(--color-gray-600);
        }
    }

}