@import "tailwindcss";

@theme {
  --font-display: "Orbitron", "times new roman", ui-serif, system-ui, serif;
  --font-sans: "Noto Sans", helvetica, system-ui, sans-serif;
  --color: bg-stone-50;
  
}

:root {
  --c-red-900-50: rgba(128, 25, 27, .5);
}

html,
body {
  @apply bg-stone-950 dark:bg-stone-950;
  @apply text-stone-50 dark:text-stone-50;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

.main-section {
  @apply border-2 border-red-600 rounded-md;

}
